.text-gray-100 {
    color: $color-gray-100 !important;
}
.text-gray-200 {
    color: $color-gray-200 !important;
}
.text-gray-300 {
    color: $color-gray-300 !important;
}
.text-gray-400 {
    color: $color-gray-400 !important;
}
.text-gray {
    color: $color-gray !important;
}
.text-green {
    color: $color-green !important;
}
.text-blue {
    color: $color-blue !important;
}
.text-red {
    color: $color-red !important;
}
.text-brown {
    color: $color-brown !important;
}
.text-black-60 {
    color: $color-black-60 !important;
}


.bg-gray-100 {
    background-color: $color-gray-100 !important;
}
.bg-gray-200 {
    background-color: $color-gray-200 !important;
}
.bg-gray-300 {
    background-color: $color-gray-300 !important;
}
.bg-gray-400 {
    background-color: $color-gray-400 !important;
}
.bg-gray {
    background-color: $color-gray !important;
}
.bg-green {
    background-color: $color-green !important;
}
.bg-blue {
    background-color: $color-blue !important;
}
.bg-red {
    background-color: $color-red !important;
}
.bg-brown {
    background-color: $color-brown !important;
}
.bg-black-60 {
    background-color: $color-black-60 !important;
}