.start-20 {
    left: 20px;
}
.end-18 {
    right: 18px!important;
}
.top-5 {
    top: 5px !important;
}
.top-72 {
    top: 72px;
}
.start-10 {
    left: 10px;
}
.start-20 {
    left: 20px;
}
.start-19 {
    left: 19px;
}
.start-38 {
    left: 38px;
}
.start-24 {
    left: 24px;
}
.top-25 {
    top: 25%;
}