// ============> Custom Padding Utilities 
.py-8 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.px-22 {
    padding-left: 5px;
    padding-right: 5px;
}
@media screen and (min-width: 360px) {
    .px-22 {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media screen and (min-width: 400px) {
    .px-22 {
        padding-left: 17px;
        padding-right: 17px;
    }
}
@media screen and (min-width: 460px) {
    .px-22 {
        padding-left: 22px;
        padding-right: 22px;
    }
}
@media screen and (min-width: 500px) {
    .px-22 {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 540px) {
    .px-22 {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media screen and (min-width: 576px) {
    .px-22 {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media screen and (min-width: 768px) {
    .px-22 {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (min-width: 992px) {
    .px-22 {
        padding-left: 55px;
        padding-right: 55px;
    }
}
@media screen and (min-width: 1200px) {
    .px-22 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 1400px) {
    .px-22 {
        padding-left: 22px;
        padding-right: 22px;
    }
}
.py-14 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.pb-12 {
    padding-bottom: 12px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-14 {
    padding-bottom: 14px;
}
.pe-20 {
    padding-right: 20px;
}
.ps-40 {
    padding-left: 40px;
}
.pt-83 {
    padding-top: 83px;
}

// ============> Custom Margin Utilities 
.mt-12 {
    margin-top: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mt-20 {
    margin-top: 20px;
}

// // ============> Custom Gap Utilities 
.column-gap-12 {
    column-gap: 12px;
}
.column-gap-44 {
    column-gap: 44px;
}
.row-gap-20 {
    row-gap: 20px;
}