$color-gray-100: #EEF3F8;
$color-gray-200: #F3F2EF;
$color-gray-300: #EBEBEB;
$color-gray-400: #666666;
$color-gray: #5f6163;

$color-black-60: rgba(0, 0, 0, 0.6);
$color-blue: #0A66C2;
$color-green: #057642;
$color-red: #CC1016;
$color-brown: #915907;

$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;

